:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --transition-function-main: cubic-bezier(0.4, 0, 0.2, 1);
  scroll-behavior: smooth;
}

/* Глобальне скидання стилів */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Загальні стилі */

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
  padding-top: 72px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy-blue);
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-main {
  display: block;
  background-color: var(--iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms var(--transition-function-main);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--ocean);
}

/* Контейнер */

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* хедер */

.header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav-logo-dark {
  color: var(--navy-blue);
}

.header-nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-nav-link {
  display: block;
  font-weight: 500;
  color: var(--navy-blue);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms var(--transition-function-main);
}

.header-nav-link {
  position: relative;
}

.header-nav-link.active {
  color: var(--ocean);
}

.header-nav-link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 750ms var(--transition-function-main);
}

.header-nav-link.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  transform: scaleX(1);
  transform-origin: left;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--ocean);
}

.header-address {
  display: flex;
  align-items: center;
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  display: block;
  color: currentColor;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms var(--transition-function-main);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean);
}

/* Хіро */

.hero {
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin: 0 auto 48px;
  max-width: 496px;
}

/* Переваги */

.feauters-list {
  display: flex;
  gap: 24px;
}

.feauters-item {
  width: calc((100% - 3 * 24px) / 4);
}

.feauters-item-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background-color: var(--cloud);
  height: 112px;
  margin-bottom: 8px;
}

.feauters-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* Наша команда */

.our-team-section {
  background-color: var(--cloud);
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-item {
  background-color: var(--white);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-item-description-wrapper {
  padding: 32px 0;
}

.our-team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-item-text {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.our-team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms var(--transition-function-main);
}

.our-team-social-icon {
  fill: var(--cloud);
}

.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: var(--ocean);
}

/* Портфоліо */

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-item {
  background-color: var(--white);
  width: calc((100% - 2 * 24px) / 3);
  box-shadow: none;
  transition: box-shadow 250ms var(--transition-function-main);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-image-overlay,
.portfolio-item:focus .portfolio-image-overlay {
  transform: translateY(0);
}

.portfolio-image-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-image-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms var(--transition-function-main);
  padding: 40px 32px;
}

.portfolio-item-description-wrapper {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* Футер */

.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-flex-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-copyright {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-light {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
}

.footer-social {
  margin-right: 80px;
}

.footer-text {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms var(--transition-function-main);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: var(--cloud);
}

.footer-subscribe {
  flex-grow: 1;
}

.footer-subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-subscribe-email-label {
  flex-grow: 1;
}

.footer-subscribe-email-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-subscribe-email-input::placeholder {
  color: inherit;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--ocean);
}

.footer-subscribe-icon {
  fill: var(--white);
  margin-left: 16px;
}

/* modal window */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--navy-blue-modal);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--transition-function-main),
    visibility 250ms var(--transition-function-main);
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.overlay-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dairy);
  padding: 72px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: transform 250ms var(--transition-function-main);
}

.order-form-header {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.order-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.order-form-input-label-wrapper {
  margin-bottom: 8px;
}

.order-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.order-form-input-wrapper {
  position: relative;
}

.order-form-input-text {
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  transition: border-color 250ms var(--transition-function-main);
}

.order-form-input-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.order-form-input-text:focus {
  border-color: var(--iris);
}

.order-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms var(--transition-function-main);
}

.order-form-input-text:focus + svg {
  fill: var(--iris);
}

.order-form-textarea-label-wrapper {
  margin-bottom: 16px;
}

.textarea {
  resize: none;
  padding: 8px 16px;
  height: 120px;
}

.checkbox-agreement-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 24px;
}

.order-form-swapped-checkbox-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms var(--transition-function-main),
    border 250ms var(--transition-function-main),
    fill 250ms var(--transition-function-main);
}

.order-form-input-checkbox:checked + label span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.checkbox-agreement-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  cursor: pointer;
}

.checkbox-agreement-label-link {
  text-decoration: underline;
  color: var(--iris);
  line-height: 1.33;
}

.order-submit-button {
  height: 56px;
}

.order-form-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms var(--transition-function-main),
    border 250ms var(--transition-function-main);
}

.order-form-close-icon {
  fill: var(--navy-blue);
  transition: fill 250ms var(--transition-function-main);
}

.order-form-close-button:hover,
.order-form-close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.order-form-close-button:hover svg,
.order-form-close-button:focus svg {
  fill: var(--white);
}

.no-scroll {
  overflow: hidden;
}
