:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

/* Загальні стилі */

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy-blue);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

/* хедер */

.header-nav-logo-dark {
  color: var(--navy-blue);
}

.header-nav-link {
  font-weight: 500;
  color: var(--navy-blue);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--ocean);
}

.header-address {
  font-style: normal;
}

.header-address-link {
  color: currentColor;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean);
}

/* Хіро */

.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-cta {
  background-color: var(--iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}

.hero-cta:hover,
.hero-cta:focus {
  background-color: var(--ocean);
}

/* Переваги */

.feauters-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Наша команда */

.our-team-section {
  background-color: var(--cloud);
}

.our-team-item {
  background-color: var(--white);
}

.our-team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-item-text {
  text-align: center;
}

/* Портфоліо */

.portfolio-item {
  background-color: var(--white);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Футер */

.footer {
  background-color: var(--navy-blue);
}

.footer-logo-light {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
}
