:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

/* Загальні стилі */

body {
  font-family: var(--font-family);
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* хедер */

.header-nav-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-nav-logo-dark {
  color: var(--navy-blue);
}

.header-nav-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--navy-blue);
}

.header-address-link {
  line-height: 1.5;
  color: currentColor;
}

.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: var(--white);
}

.hero-cta {
  background-color: var(--iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}
